/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
    line-height: 1;
  }

  body {
    font-size: 1rem;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
=============== 
Questions
===============
*/
.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}

.title h2 {
  color: var(--clr-gold);
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.section-center {
  max-width: var(--fixed-width);
}

.question {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}

.question-btn:hover {
  transform: rotate(90deg);
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
  margin-bottom: 0;
}

/* hide text */

.question-text {
  display: none;
}

.show-text .question-text {
  display: block;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}